* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ABeeZee', sans-serif;}
body {
  background-color: #ecebeb;
}
.container{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}

/* -----------Navbar----------------- */
.navbar {
  display: flex;
  background-color: #fff;
  width: 100%;
  filter: drop-shadow(0px 0px 5px #78789c);}
img {
  height: 100px;
  margin-left: 20px;
  width: 220px;
}
.search {
  width: 474px;
  height: 42px;
  margin-left: 20px;
  margin-top: 31px;
  padding-left: 12px;
  background-color: #f7f7f7;
  border: none;
  font-size: 15px;
}

.search-icon {
  background-color: #5024ca;;
  height: 42px;
  width: 56px;
  margin-top: 31px;
  cursor: pointer;
}
.fa-search {
  color: rgb(255, 255, 255);
  size: 12px;
  width: 40px;
}

.fa-bell,
.fa-envelope {
  margin-left: 21px;
  margin-top: 42px;
  color: #a1a1a1;
}

.bell {
  margin-left: 27rem;
}

.line{
    background-color: #A1A1A1;
    color: #A1A1A1;
    width: 2px;
    height: 2.4rem;
    margin-top: 33.5px;
    margin-left: 32px;
    
}
.profile{
    margin-left: 38px;
    margin-top: 42px;
    font-size: small;

}
.profile-pic{
    height: 40px;
    width: 40px;
    background-color: #a1a1a1;
    margin-left: 10px;
    margin-top: 32px;
    padding-top: 7px;
    border-radius: 50%;

    /* pic */
    background-image: url(../images/Screenshot\ from\ 2021-01-17\ 21-15-19\ \(1\)\ \(1\).png);
    object-fit: contain;
}
/* img{
    height: 40px;
    width: 40px;
} */

/* --------end of navbar------- */

/* ----------dashboard---------- */
.dash-bord {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 265px;
    height: 712px;
    color: #fff;
    background-color: #5024ca;
    /* align-items: center; */
  }
h4 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding-top: 12px;
  margin-left: 17%;
}
.dash-line {
  width: 90%;
background-color: rgb(127, 156, 201);  margin-left: 5%;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 2px;
  

}
.dash-head{
  margin-left: 12px;
    margin-top: 30px;
    margin-bottom: 10px;
}
li{
  margin-top: 25px;
  margin-left: 35px;
  list-style: none;
  color: #A1A1A1;
}
/* ---------------End of main part------------*/
/* ---------------Main---------------------- */
.main{
  display: flex;  
  flex-direction: column;
  padding-top: 12px;
  margin-left: 12px;

}
.search-bar{
  margin-top: 170px;
  margin-left: 397px;
    /* width: 100%; */
}
.search-email{
  width: 350px;
  height: 42px;
  margin-left: 37px;
  margin-top: 11px;
  padding-left: 12px;

}
.verify{
  background-color: #5024ca;;
  height: 42px;
  width: 56px;
  margin-top: 31px;
  cursor: pointer;
  color : #fff;
}
h2{
  font-size: 40px;
}